body > div {
    display: table;
    margin: 20px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Segoe UI',
        Roboto, Oxygen-sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body h1 {
    background-color: rgba(173, 216, 230, 0.232);
    background-origin: padding-box;
    color: white;
    text-shadow: 2px 2px #ff000092;

    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#broccolini:hover {
    color: lightgreen;
}

#potato:hover {
    color: burlywood;
}

#salmon:hover {
    color: lightsalmon;
}

ol {
    display: table;
    margin: 10px auto;
    padding: 10px;
}
